*{
    margin: 0px;
    padding: 0px;
    font-family:'Lucida Sans';
}

#divgeral{
    width: 550px;
    min-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(75, 120, 87);
    border-radius: 10px;
}

h1, h2{
    padding: 20px 0px;
    text-align: center;
}

ul li{
    margin: 0px 20px;;
}

hr{
    margin: 20px 0px;
}
form{
    margin: 20px 0px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
}